.typeOfAct {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.activityOptionsProduct {
    max-height: 0;
    overflow: hidden;
    /* margin-top: -5px; */
    transition: max-height 0.5s ease-in-out;
}

.activityOptionsProduct.visible {
    /* margin-top: 15px; */
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
}